<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>character-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,0}</string>
    <key>spriteSize</key>
    <string>{27,42}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{104,44},{27,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,0}</string>
    <key>spriteSize</key>
    <string>{55,42}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,0},{55,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,0}</string>
    <key>spriteSize</key>
    <string>{51,42}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,44},{51,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-1}</string>
    <key>spriteSize</key>
    <string>{49,40}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{0,88},{49,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-2}</string>
    <key>spriteSize</key>
    <string>{31,37}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{110,0},{31,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-5}</string>
    <key>spriteSize</key>
    <string>{29,32}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{104,88},{29,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-5}</string>
    <key>spriteSize</key>
    <string>{29,32}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{104,122},{29,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-5}</string>
    <key>spriteSize</key>
    <string>{27,32}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{133,44},{27,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{49,40}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{53,44},{49,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-1}</string>
    <key>spriteSize</key>
    <string>{51,39}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{57,0},{51,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{41,39}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{53,86},{41,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-6}</string>
    <key>spriteSize</key>
    <string>{23,29}</string>
    <key>spriteSourceSize</key>
    <string>{69,44}</string>
    <key>textureRect</key>
    <string>{{135,88},{23,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{162,156}</string>
   <key>textureFileName</key>
   <string>character-attack.png</string>
  </dict>
 </dict>
</plist>
